---
import me from '../../images/me.jpg'
---

<div class="flex bg-[#232046]">
  <aside class="min-h-screeen flex-col hidden bg-[#1F1C3F]" id="menu">
    <div class="flex items-center justify-center px-4 h-12">
      <span class="">
        Menu
      </span>
    </div>
    <div class="flex flex-col">
      <nav class="min-h-screen flex flex-col justify-center items-center">
        <img class="rounded-full w-32 mb-2 mt-4 border-solid border-4 border-[#B5E6DB]" src={me} alt="me laughing">
        <ul class="flex flex-col items-center con py-4">
          <li class="my-2 px-4 py-2 rounded-lg bg-[#B5E6DB]">
            <a class="text-[#3C3D50]" href="#">Home</a>
          </li>
          <li class="my-2 px-4 py-2  rounded-lg bg-[#B5E6DB]">
            <a class="text-[#3C3D50]" href="#">Projects</a>
          </li>
          <li class="my-2 px-4 py-2  rounded-lg bg-[#B5E6DB]">
            <a class="text-[#3C3D50]" href="#">Skills</a>
          </li>
          <li class="my-2 px-4 py-2  rounded-lg bg-[#B5E6DB]">
            <a class="text-[#3C3D50]" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <main class="flex-grow flex flex-col min-h-screen">
    <header class="flex items-center justify-between bg-[#1F1C3F] h-12">
      <div class="flex flex-grow items-center justify-end lg:hidden px-3">
        <i class="bx bx-menu text[.938rem] cursor-pointer" id="hamburguer"></i>
        <!-- <button>brand</button> -->
      </div>
    </header>
    <h1 class="" id="title">title of content</h1>
    <section class="" id="aboutme">
      content
    </section>
  </main>
</div>
