@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: 'Aeonik Light';
  src: url("../fonts/Aeonik/Aeonik-Light.otf") format("truetype");
  /* font-weight: 900; */
  font-style: normal;
}

:root {
  /* colors */
  --color-primary: #3C3D50;
  --color-secondary: #232046;
  --color-secondary-dark: #1F1C3F;
  --color-tertiary: #B5E6DB;
  --color-tertiary-dark: #90B8AF;
  --text-color: #000;
  --background: #19191B;
  --white: #fff;

  /* font weight */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* font and typography */
  --root-font-size: 62.5%;
  --body-font: 'Manrope', sans-serif;
  --text-font: 'Aeonik Light', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* margins */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /* z index */
  --z-fixed: 1000;
}

html {
  box-sizing: border-box;
  /* font-size: var(--root-font-size); */
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  @apply bg-[var(--color-secondary)] text-[var(--white)];
}
