---
import Layout from '../layouts/global.astro'
import me from '../images/me.jpg';

// components
import Hero from '../components/portfolio/Hero.astro'
import Skills from '../components/portfolio/Skills.astro';
import Projects from '../components/portfolio/Projects.astro';
import Footer from '../components/portfolio/Footer.astro';
import Navbar from '../components/portfolio/Navbar.astro';
---

<Layout>
<div class="flex bg-[#232046]">
  <aside class="flex-col hidden lg:flex lg:w-96 bg-[#1F1C3F]" id="menu">
    <div class="flex items-center justify-center px-4 h-12">
      <span class="">
        Menu
      </span>
    </div>
    <div class="flex flex-col h-screen items-center justify-center">
      <div class="flex flex-col items-center mb-4 profile">
        <img class="rounded-full w-28 mb-2 border-solid border-4 border-[#B5E6DB]" src={me} alt="me lauhging">
        <h3 class="name">Nelson Rivas</h3>
        <p class="role">Fullstack Developer</p>
      </div>
      <nav class="">
        <ul class="flex flex-col items-center">
          <li class="w-full">
            <a class="flex justify-center my-1 px-4 py-1 rounded-lg bg-[#B5E6DB] text-[#3C3D50]" href="#">Home</a>
          </li>
          <li class="w-full">
            <a class="flex justify-center my-1 px-4 py-1 rounded-lg bg-[#B5E6DB] text-[#3C3D50]" href="#">Projects</a>
          </li>
          <li class="w-full">
            <a class="flex justify-center my-1 px-4 py-1  rounded-lg bg-[#B5E6DB] text-[#3C3D50]" href="#">Skills</a>
          </li>
          <li class="w-full">
            <a class="flex justify-center my-1 px-4 py-1 rounded-lg bg-[#B5E6DB] text-[#3C3D50]" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <main class="flex-grow flex flex-col justify-between min-h-screen">
    <header class="flex items-center justify-between bg-[#1F1C3F] h-14">
      <div class="flex flex-grow items-center justify-end lg:hidden px-3">
        <i class="bx bx-menu text-2xl cursor-pointer" id="hamburguer"></i>
        <!-- <button>brand</button> -->
      </div>
    </header>
		<Hero />
    <Projects />
  </main>
</div>

	<script>
		import "../scripts/index.js"
	</script>
</Layout>
